@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");
:root {
  /* color */
  --body-color: #f3efe9;
  --main-color: #f5f0bb;
  --secondary-color: #61481c;
  --heading-color: #ffffff;
  --button-color: #7d9d9c;
  --navbar-color: #e0dad2;
  --navbar-text-color: #576f72;
  --button-text-color: #f0ebe3;
  --card-detail-color: #611c5e;
  /* font */
  --body-font: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: var(--body-color);
  font-family: var(--body-font);
}

/* Header start */
.header {
  position: relative;
}

.header-bg {
  height: 10rem;
  background-image: url(/assets/img/00LogodanNavigasi/navigasi.svg);
  background-position: center;
  background-size: cover;
  filter: blur(5px);
  position: relative;
  left: 0;
}

.header-content {
  width: 100%;
  height: 10rem;
  background: rgba(0, 0, 0, 0.34);
  color: var(--heading-color);
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
}
/* Header end */

/* Navbar start */
.navbar {
  background-color: var(--navbar-color);
  backdrop-filter: blur(20px);
  position: relative;
  z-index: 1;
}

.show {
  background-color: transparent;
  border: none;
}
.nav-link {
  color: var(--navbar-text-color);
}
.nav-link:hover {
  color: #000;
  border-radius: 10%;
  font-weight: bolder;
}
.btn-login {
  background: var(--button-color);
  border-radius: 10px;
  color: var(--button-text-color);
}

.active {
  background-color: var(--body-color);
  font-weight: bolder;
}
.active:hover {
  color: #000;
  font-weight: normal;
  border-radius: 10%;
}

.btn-login:hover {
  background-color: var(--heading-color);
  font-weight: bolder;
  border-radius: 10%;
  border: none;
}
.navbar-toggler {
  background-color: var(--main-color);
}
.navbar-toggler-icon {
  color: var(--secondary-color);
}
/* Navbar end */

/* section-data-anggota-pembina-pelatih-pamong start */
.data-anggota-pembina,
.data-pelatih-pamong,
.data-anggota-siaga,
.data-anggota-siaga-detail {
  position: relative;
  overflow: hidden;
}

/* Data-anggota */
.swiper-button-next,
.swiper-button-prev,
.swiper-pagination {
  color: var(--secondary-color);
}
.title-anggota,
.title-anggota-siaga,
.title-pembina,
.title-pelatih,
.title-pamong {
  font-family: var(--body-font);
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  color: var(--secondary-color);
}
.card {
  background-color: var(--main-color);
}
.card-level {
  font-family: var(--body-font);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: var(--secondary-color);
}
.card-level-pelatih-penegak-pandega {
  font-family: var(--body-font);
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: var(--secondary-color);
}

.card-total {
  font-family: var(--body-font);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: var(--secondary-color);
}
.card-total-pelatih-penegak-pandega {
  font-family: var(--body-font);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: var(--secondary-color);
}
.card-detail {
  font-family: var(--body-font);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-decoration-line: underline;
  color: var(--card-detail-color);
}
.card-detail-pelatih-penegak-pandega {
  font-family: var(--body-font);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  text-decoration-line: underline;
  color: var(--card-detail-color);
}

/* Data-anggota */

/* Data-pembina */
.section-pembina,
.section-pamong {
  position: relative;
}
.pembina-bg {
  background: rgba(240, 235, 227, 0.7);
  position: relative;
}

.pembina-img {
  background-image: url(/assets/img/02Beranda/datapembinakwarcab.svg);
  background-position: center;
  background-size: cover;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
/* Data-pembina */

/* Data-pelatih */
.pelatih-img {
  background-image: url(/assets/img/02Beranda/datapelatihkwarcab.svg);
  background-position: center;
  background-size: cover;
  width: 25rem;
  height: 25rem;
  border-radius: 45%;
}
/* Data-pelatih */

/* memphis */
.years-vertical {
  background-image: url(/assets/img/08memphis/year.svg);
  background-repeat: no-repeat;
  width: 650px;
  height: 200px;
  position: absolute;
  transform: rotate(90deg);
  bottom: 20%;
  right: 0;
}
.top-memphis {
  background-image: url(/assets/img/08memphis/mp-1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 100px;
  height: 82px;
  right: 0;
  top: 0;
  z-index: -100;
}
.bottom-memphis-right {
  background-image: url(/assets/img/08memphis/mp-3.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 220px;
  height: 395px;
  right: 0;
  bottom: 0;
  z-index: -100;
}
.bottom-memphis-left {
  background-image: url(/assets/img/08memphis/mp-2.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  position: absolute;
  width: 200px;
  height: 75px;
  left: 0;
  bottom: 0;
  z-index: -100;
}
.memphis-left {
  background-image: url(/assets/img/08memphis/mp-4.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 220px;
  height: 454px;
  left: 0;
  bottom: 10%;
  z-index: -100;
}
.memphis-right {
  background-image: url(/assets/img/08memphis/mp-5.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 220px;
  height: 454px;
  right: 0;
  bottom: 10%;
  z-index: -100;
}
/* memphis*/
/* section-data-anggota-pembina-pelatih-pamong end */

/* Section sipandu start */
.section-sipandu {
  position: relative;
}
.sipandu-bg {
  height: 60rem;
  background-image: url(/assets/img/02Beranda/bgapaitusipandu.svg);
  background-position: center;
  background-size: cover;
  filter: blur(10px);
}

.sipandu-content {
  width: 100%;
  height: 60rem;
  color: var(--heading-color);
  position: absolute;
  bottom: 0;
  left: 0;
}
.sipandu-filter {
  background: rgba(243, 239, 233, 0.49);
  filter: blur(165px);
  height: 557px;
  width: 1418px;
  position: relative;
}
.sipandu-text {
  position: absolute;
}
.question {
  font-weight: 700;
  font-size: 70px;
}
.sipandu {
  font-weight: 700;
  font-size: 100px;
}
.definition {
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  text-align: justify;
}

.btn-more {
  background: var(--navbar-color);
  border-radius: 10px;
  color: var(--secondary-color);
}
.btn-more:hover {
  background-color: var(--secondary-color);
  font-weight: bolder;
  border-radius: 10%;
  border: none;
  color: var(--main-color);
}
/* Section sipandu end */

/* swiper start */
.anggota-button-next,
.anggota-button-prev,
.pembina-button-next,
.pembina-button-prev,
.pamong-button-next,
.pamong-button-prev,
.pelatih-button-next,
.pelatih-button-prev {
  font-size: 50px;
  color: var(--secondary-color);
}
.anggota-button-next,
.pembina-button-next,
.pamong-button-next,
.pelatih-button-next {
  position: absolute;
  right: 0;
  top: 50px;
  z-index: 100;
}

.anggota-button-prev,
.pembina-button-prev,
.pamong-button-prev,
.pelatih-button-prev {
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 100;
}

.swiper-pagination-bullet-active {
  background-color: var(--secondary-color);
}

.anggota,
.pembina,
.pamong,
.pelatih {
  position: relative;
  overflow: hidden;
}
/* swiper end */

/* contact start */
.contact img {
  width: 70px;
  height: 60px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  overflow: hidden;
}
.contact img:hover {
  width: 90px;
  height: 80px;
  transition: all 0.2s ease;
}
/* contact end */

/* Footer start */
.footer {
  background-color: var(--navbar-color);
}

.footer-text {
  font-weight: 700;
  font-size: 15px;
}
/* Footer end */

/* Table start */

thead {
  background-color: var(--secondary-color);
  color: var(--heading-color);
}
/* pagination start */
.pagination a {
  color: var(--secondary-color);
}

.pagination a:hover,
.pagination .active a {
  background-color: var(--secondary-color);
  color: var(--heading-color);
}

.pagination a:focus {
  background-color: var(--secondary-color);
  color: var(--heading-color);
}

.pagination .active a {
  color: var(--heading-color);
  cursor: default;
}
/* pagination end */
/* Table end */

/* Responsive start */
@media screen and (min-width: 1444px) {
  .slider-anggota,
  .slider-pembina,
  .slider-pelatih,
  .slider-pamong {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .card-level {
    font-size: 15px;
  }
  .card-total {
    font-size: 30px;
  }
  .card-detail {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  .header-logo {
    width: 7rem;
  }
  .header-address,
  .header-subtitle {
    display: none;
  }
  .header-content {
    align-items: center;
  }
  .years-vertical {
    bottom: 20%;
    right: -30%;
  }
}
@media screen and (min-width: 601px) {
  .slider-anggota,
  .slider-pembina,
  .slider-pelatih,
  .slider-pamong {
    display: none;
  }
  .btn-more {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  /* header */
  .header-text {
    display: none;
  }
  .header-content {
    place-content: center;
  }

  /* navbar */
  .navbar {
    padding: 20px;
    border-radius: 0 0 10% 10%;
  }

  /* section-anggota */
  .section-anggota,
  .section-pembina,
  .section-pelatih,
  .section-pamong {
    display: none;
  }
  .title-anggota,
  .title-pembina,
  .title-pelatih,
  .title-pamong {
    font-size: 30px;
  }

  .years-vertical {
    display: none;
  }
  .sipandu-bg,
  .sipandu-content {
    height: 40rem;
  }
  .question {
    font-weight: 700;
    font-size: 50px;
  }
  .sipandu {
    font-weight: 700;
    font-size: 50px;
  }
  .definition {
    display: none;
    font-weight: 500;
    font-size: 15px;
  }
}

/* Responsive end */
